{# <div class="form-actions">
    {% block cancel %}<a class="btn btn-default btn-cancel" href="{% block cancel_url '' %}">{{ 'cancel'|trans }}</a>{% endblock %}
    <div class="btn-wrapper">
        {% block submit_button %}
            <button type="submit" class="btn btn-primary {% block submit_class '' %}">
                {% block submit_label 'save'|trans %}
            </button>
        {% endblock %}
        <div class="btn-loading">
            <img src="{{ asset('images/etc/ajax-loader.gif') }}" />
        </div>
    </div>
</div> #}
<div class="form-actions">
    {% block cancel %}
        <a class="btn btn-default" 
            href="{% block cancel_url '' %}"
            data-turbo-frame="_top"
        >
            {{ 'Cancel'|trans }}
        </a>
    {% endblock %}
    {% block submit_button %}
        <button
            type="submit"
            class="btn btn-primary loading-btn {% block submit_class '' %}"
            data-controller="loading"
            data-loading-target="button"
            {% block submit_attributes '' %}
        >
            <span>{% block submit_label 'Save'|trans %}</span>
            <div class="loader" data-loading-target="loader"><div class="spinner"></div></div>
        </button>
    {% endblock %}
    {% block extra_buttons '' %}
</div>

