{% extends 'layout/default.html.twig' %}

{% block title %}
{% endblock %}

{% block body_extra_classes 'with-cards' %}

{% block content %}

    <style>
        .info {
            margin-bottom: 50px;
        }
        .homepage-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
        }
        .item {
            background-color: white;
            /* recommended way to center text inside a grid item, using grid as well */
            display: grid; /* could also be done with flexbox, justify-content, align-items, and text-align instead */
            place-items: center; /* for a grid containing plain text, this combines align and justify */
            text-align: center; /* aligns text horizontally in case of full line or multiple lines */
            height: 100px;
            padding: 10px;
            border-radius: 3px;
            font-size: 20px;
        }
    </style>

    <div class="info">
        <h3>Membres</h3>
        <p>
            Les réservations de terrains extérieurs se font via
            <a href="https://ballejaune.com/club/tcu">balle jaune</a>.
        </p>
        <p>
            Les 2 terrains en french courts sont disponibles de mars à novembre.
        </p>
        <p>
            Les 3 terrains en brique pilée sont disponibles d'avril à octobre.
        </p>

        <h3>Non-membres</h3>
        <p>
            Regle générale: il faut être <a href="{{ path('practical_infos_membership') }}">membre</a>
            pour réserver un terrain.
        </p>

        <p>
            Cas particulier pour les étudiants ULiège:
            Si vous êtes étudiant ULiege et que vous avez la carte Uliège Sports 2025-2026,
            vous pouvez réserver un terrain extérieur cet automne en téléphonant à Léon Toffa
            au +32 495 53 98 34.
        </p>


    </div>

{% endblock %}
