{% extends 'layout/default.html.twig' %}

{% block title %}
{% endblock %}

{% block body_extra_classes 'with-cards' %}

{% block content %}

    <style>
        .info {
            margin-bottom: 50px;
        }
        .homepage-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
        }
        .item {
            background-color: white;
            /* recommended way to center text inside a grid item, using grid as well */
            display: grid; /* could also be done with flexbox, justify-content, align-items, and text-align instead */
            place-items: center; /* for a grid containing plain text, this combines align and justify */
            text-align: center; /* aligns text horizontally in case of full line or multiple lines */
            height: 100px;
            padding: 10px;
            border-radius: 3px;
            font-size: 20px;
        }
    </style>

    <div class="homepage-grid">
        <a class="item" href="{{ path('practical_infos_bookings') }}">
            Réserver un terrain
        </a>
        <a class="item" href="{{ path('practical_infos_membership') }}">
            Devenir membre
        </a>
    </div>

{% endblock %}
