{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
{% endblock %}


{% block main %}
    <style>

    </style>

    <div id="phpinfo">

        {{ phpinfo|raw }}

    </div>

    {% endblock %}