<div class="planning-secondary-actions hk-dropdown-container"
	data-controller="dropdown"
>
	<button type="button"
		class="hk-dropdown-button"
		data-action="dropdown#toggle"
	>
		<twig:ux:icon name="dots"/>
	</button>

	<div data-dropdown-target="menu" class="hk-dropdown-menu hidden opacity-0 scale-95">
		
            <div class="hk-dropdown-inner">

                <button type="button"
                    class="hk-dropdown-link"
                    formaction="{{ path('admin_planning_date_add_match', {'id': date.id}) }}"
                    data-action="modal#open"
                    data-title="Ajouter un match"
                    data-html="<p>Ajouter un match à cette date</p>"
                    data-button-label="Ajouter un match"
                >
                    <twig:ux:icon name="add" />
                    Ajouter un match
                </button>

            </div>
	</div>
</div>