<dialog
	class="modal-container" {# container needed to center modal with flex instead of transform and avoid conflict with animation #}
	data-modal-target="dialog"
	data-action="close->modal#close click->modal#clickOutside" {# click event of modal on backdrop triggers our clickOutside stimulus event #}
>
	<div class="modal"
		data-modal-target="modal"
		role="dialog" aria-modal="true"
	> {# visible modal #}

		{% block content '' %}

		{# CONTENT WITHOUT FORM
		<turbo-frame id="">
			<div class="modal-inner-layout">
				<div class="modal-icon-container"></div>
				<h2 class="modal-title"></h2>
				<div class="modal-actions"></div>
			</div>
		</turbo-frame>
		#}

		{# CONTENT WITH FORM
		<turbo-frame id="">
			<form class="modal-inner-layout">
				<div class="modal-form"></div>
				<div class="modal-actions"></div>
			</form>
		</turbo-frame>
		#}

	</div>

</dialog>
