<div style="width: 900px; margin-left: auto; margin-right: auto">

    <h1 style="margin-top:50px; margin-bottom: 60px;">
        Controlroom : {{ 'error.title'|trans({'%status_code%': status_code}, 'security') }}
    </h1>

    <h2>
        {{ 'error.message'|trans({'%url%': path('homepage'), '%status_text%': status_text, '%status_code%': status_code}, 'security')|raw }}
    </h2>

</div>
