@layer base {

    html {
        overflow-x: hidden; /* for swipe back */
        /* ATTN: In our setup, html is the element that scrolls !!! -- not body (or not only body)
            --- I don't remember why ?? ---
            but default behaviour expected by sweet alert and others is scroll on body element
            So we have to add custom logic sometimes
         */
        /* DO NOT USE scrollbar-gutter: stable
            Instead, we add a padding-right to html element when scrollbar hides
            For exemple, when firing a modal in confirm_controller.js or modal_controller.js 
        */
        /* scrollbar-gutter: stable; */
    }

    body {
        background-color: var(--color-primary-background);
        color: var(--color-primary-text);
        overflow: auto;
        overflow-x: hidden; /* for swipe back */

        &.with-cards {
            background-color: var(--color-grid-background);
        }
        &.gray-bg {
            background-color: var(--color-grid-background);
        }
        &.beige-bg {
            background-color: var(--color-better-help-beige-light);
        }
    }

    #main-wrapper {
        position: relative;
        padding-top: calc(var(--spacing) * 8);
        padding-bottom: calc(var(--spacing) * 20);
        flex: 1;
        min-height: 57dvh; /* avoid footer and scrollbar jump when empty content -- adjust according to most frequent height */

        &.full-height {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: 93vh;
            max-height: 93vh;
            
            header, main {
                flex-direction: column;
            }
        
            header {
                flex: 0 0 auto;
            }

            main {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                overflow: hidden;
            }

            .default-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                overflow: hidden;
                width: 100%;
            }

        }
    }

    .full-w-container {
        @apply max-w-full;
        @apply mx-auto;
    }

    .full-w-container-xpadding {
        @apply px-6;
        @apply sm:px-8;
        @apply lg:px-10;
        @apply xl:px-12;
        transition: padding 1s;
    }

    .default-container {
        @apply max-w-7xl;
        @apply mx-auto;
    }

    .default-container-xpadding {
        @apply px-6;
        @apply sm:px-8;
        @apply lg:px-10;
        transition: padding 1s;
    }

    header {
        margin-bottom: calc(var(--spacing) * 9);
        &.no-margin {
            margin-bottom: 0;
        }
    }
}
