{% set players = field.value %}
{% if players is not null %}
    {% for player in players %}
        <span class="tag">{{ player.fullName }}</span>
        {{ not loop.last ? ', ' }}
    {% endfor %}
{% endif %}