{# see comments in controller #}
{% if show %}
    <div style="margin-top: 20px;">
        <a href="{{ path('password_reset_request') }}">
            {{ 'password_reset.lost_password'|trans(domain='security') }}
        </a>
    </div>
{% endif %}
