@layer components {
    .password-visibility {
        position: relative;

        input {
            padding-right: 40px;
        }

        button {
            border: none;
            background: none;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
        }
    }
}