@layer components {

    .sortable-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        cursor: grab;
        padding: 0.8rem;
        border: 1px solid #ddd;
        margin-bottom: 1rem;
        background: var(--color-primary-background);
    }

    .sortable-chosen {
        opacity: 0.5;
        border: 1px dashed #aaa;
        background-color: var(--color-theme);
    }
}