{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        h4 {
            margin-bottom: 20px;
        }
        .group {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px;
        }
        .group-header {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 0;
        }
        .players {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 30px;
        }
        .matchs {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .match {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 70px;
        }

        /* LAYOUT */
        .groups {
            display: grid;
            gap: 30px;
        }
        @media (min-width: 768px) {
            .groups {
                grid-template-columns: 1fr 1fr;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Planning des poules{% endblock %}

{% block page_actions %}

{% endblock %}


{% block main %}

    <div class="groups"
        data-controller="modal"
        data-modal-type-value="confirm"
    >
        {% for group in groups %}
            {% include '@admin/group/_group.html.twig' %}
        {% endfor %}

        {% include '@admin/modal/_confirm_modal.html.twig' %}
        {% include 'component/modal/_icons_templates.html.twig' %}

    </div>

{% endblock %}