<div class="date">
    <div class="group-header">
	    <h4>{{ date }}</h4>
    </div>
	<div class="courts">
		{% for court in courts %}
			<div class="court">
				<h5>{{ court }}</h5>
				<div class="matchs">
					{% for match in date.matchsByCourt(court) %}
						<div class="match">
							{{ match }}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
