{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

{% extends '@admin/base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Ajouter un match{% endblock %}

{% block page_actions %}

{% endblock %}


{% block main %}

    <div class="form-wrapper">

        {{ form_start(form) }}

            {{ form_rest(form) }}

            {% embed 'form/_form_actions.html.twig' %}
                {% block cancel '' %}
            {% endembed %}


        {{ form_end(form) }}

    </div>


{% endblock %}