{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'layout/error.html.twig' %}

{% block title %}
    <h1>{{ 'error.title'|trans({'%status_code%': status_code}, 'security') }}</h1>
{% endblock %}

{% block content %}
{# This is not really a flash-message, just needs the look of it #}
    <div id="flash-messages">
        <div class="alert alert-info">
            {{ 'error.message'|trans({'%url%': path('homepage'), '%status_text%': status_text, '%status_code%': status_code}, 'security')|raw }}
        </div>
    </div>
{% endblock %}
