@layer components {

    body:not(.no-bottom-menu).with-bottom-menu {
        padding-bottom: 75px; /* set to bottom menu height */
        @media (min-width: theme(--breakpoint-bottom-menu)) {
            padding-bottom: 0;
        }
    }

    .no-bottom-menu #bottom-menu {
        display: none;
    }

    #bottom-menu {
        z-index: 100;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        @media (min-width: theme(--breakpoint-bottom-menu)) {
            display: none;
        }
        background-color: var(--color-bottom-menu-background);
    }

    #bottom-menu-inner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @apply px-2;
        padding-top: 13px;
        padding-bottom: 7px;
    }

    .bottom-menu-link {
        height: 55px;
        min-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--color-bottom-menu-text);

        svg {
            height: 32px;
        }
    }

    .bottom-menu-label {
        @apply text-sm;
        @apply pt-1;
    }
}
