@layer components {
    .table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.95rem;
        background: #fff;
        border: 1px solid #e4e7ec;
        border-radius: 8px;
        overflow: hidden;
    }

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
    }

    /* NB: Container query would be better, but not supported on a table, would require a wrapper div */
    @media (min-width: 800px) {
        .table th,
        .table td {
            padding: 12px 16px;
        }
    }

    .table thead {
        background: #f8fafc;
        font-weight: 600;
        color: #334155;
    }

    .table tbody tr {
        border-top: 1px solid #f1f3f5;
    }

    .table tbody tr:nth-child(even) {
        background: #f9fafb;
    }

    .table tbody tr:hover {
        /* background: #eef2ff; */
        /* background: var(--color-theme-lightest); */
        /* subtle hover */
    }
}