<footer>
	<div class="full-w-container full-w-container-xpadding">

		<div id="footer-logo">
			<a href="{{ path('homepage') }}" class="flex items-center">
				<img src="" class="h-8 me-3" alt=""/>
			</a>
		</div>

		<div id="footer-columns">

			<div class="footer-section">
				<div class="footer-section-centered">
					<h3 class="footer-section-title">
					</h3>
				</div>
			</div>

			<div class="footer-section" data-turbo-prefetch="false">
				<div class="footer-section-centered">
					<h3 class="footer-section-title">
					</h3>
				</div>
			</div>

			<div class="footer-section">
				<div class="footer-section-centered">
					<h3 class="footer-section-title">
					</h3>
				</div>
			</div>
		</div>
	</div>
</footer>

