<div class="date" id="date-{{ date.id }}">
    <div class="date-header">
        <h4>{{ date }}</h4>
    </div>
	<div class="courts">
		{% for court in courts %}
            {% set slots = date.slotsByCourt(court) %}
			<div class="court {{ slots is empty ? 'without-slots' }}">
				<h5 class="court">{{ court }}</h5>
				<div class="slots">
					{% for slot in slots %}
                        {% include "@admin/planning/_slot_row.html.twig" %}
                    {% else %}
                        {# invisible -- only for layout purposes #}
                        {% include "@admin/planning/_slot_row_placeholder.html.twig" %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
