{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .planning {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .group-header {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }
        .date {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px;
        }
        .courts {
            display: flex;
            gap: 20px;
            h5 {
                text-align: center;
                white-space: nowrap;
            }
        }
        .court {
        }
        .match {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block content_title %}Dates{% endblock %}

{% block page_actions %}

    <a class="btn btn-primary" href="{{ path('admin_planning_match_add')}}">
        + Ajouter un match
    </a>

{% endblock %}


{% block main %}

    <div class="planning"
        data-controller="modal"
        data-modal-type-value="confirm"
    >
        {% for date in dates %}
            {% include '@admin/planning/date/_date.html.twig' %}
        {% endfor %}

        {% include '@admin/modal/_confirm_modal.html.twig' %}
        {% include 'component/modal/_icons_templates.html.twig' %}

    </div>

{% endblock %}