{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .planning {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .group-header {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
        }
        .date {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px;
        }
        .courts {
            display: flex;
            gap: 20px;
            h5 {
                text-align: center;
                white-space: nowrap;
            }
        }
        .court {
        }
        .match {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block content_title %}Matchs{% endblock %}


{% block main %}

    <div class="planning">
        {% for date in dates %}
            {% include '@admin/planning/match/_date.html.twig' %}
        {% endfor %}

    </div>

{% endblock %}