{% extends '@admin/planning/planning.html.twig' %}

{% block content_title %}Matchs passés{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}

    <div class="planning" data-controller="modal modal-confirm modal-remote-form">

            {% for date in dates %}
                {% include '@admin/planning/_date.html.twig' %}
            {% endfor %}

            {% include 'component/modal/_modal.html.twig' %}
            {% include 'component/modal/_icons_templates.html.twig' %}

    </div>

{% endblock %}