{% extends '@admin/base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .placeholder {
            visibility: hidden;
            width: 15px;
        }
        .date-header {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        .date {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px;
        }
        .courts {
            h5 {
                text-align: center;
                white-space: nowrap;
            }
        }
        .court {
            margin-bottom: 30px;
        }
        .slots {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        .slot-row {
            height: 60px;
            .btn {
                svg {
                    width: 15px;
                }
            }
        }
        .slot-content {
            border: 1px dashed #ccc;
            .slot-row-placeholder & {
                border: 0;
                color: #bbb;
            }
        }
        .slot-content-inner,
        .slot-actions-inner {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .slot-content-inner {
            justify-content: center;
            &.with-match {
                justify-content: space-between;
                padding-inline: 15px;
            }
        }
        .slot-actions-inner {
            justify-content: start;
        }
        .sides {
            display: flex;
            flex-direction: column;
        }
        .side {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .player-confirmation-indicator {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #bbb;
            flex: 0 0 10px;
            &.confirmed {
                background-color: green;
            }
        }
        .results {
            td {
                padding-inline: 4px;
            }
            td:first-child {
                padding-left: 0;
            }
            td:last-child {
                padding-right: 0;
            }
        }
        .slot-actions {
            .btn {
                padding-inline: 3px;
                box-shadow: none;
                svg {
                    width: 24px;
                }
            }
        }

        /* LAYOUT */
        .planning {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr;
        }
        .date {
            overflow-x: auto; /* add scrollbar when necessary */
        }
        .courts {
            display: flex;
            flex-wrap: wrap;
        }
        .court {
            width: 100%;
            &.without-slots {
                display: none;
            }
        }
        .slot-row {
            display: grid;
            gap: 5px;
            grid-template-columns: 50px minmax(230px, 1fr) 30px;
            &.slot-row-placeholder {
                grid-template-columns: minmax(230px, 1fr);
            }
        }
        @media (min-width: 768px) {
            .planning {
                grid-template-columns: 1fr;
                &.court-count-1 {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            .courts {
                flex-wrap: nowrap;
            }
            .court {
                width: 100%; /* makes all items the same size no matter the content */
                margin-bottom: 0;
                &.without-slots {
                    display: block;
                }
            }
            .slot-row {
                grid-template-columns: 50px minmax(230px, 1fr) 50px;
                &.slot-row-placeholder {
                    grid-template-columns: minmax(230px, 1fr);
                }
                .btn {
                    visibility: hidden;
                }
                &:hover {
                    .btn {
                        visibility: visible;
                    }
                }
                .slot-content-inner {
                    position: relative;
                }
            }
        }
        @media (min-width: 1400px) {
            .planning {
                &.court-count-2 {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    </style>
{% endblock %}

{% block content_title %}Planning{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}

    <div class="planning" data-controller="modal modal-confirm modal-remote-form">
        {% for date in dates %}
            {% include '@admin/planning/_date.html.twig' %}
        {% endfor %}

        {% include 'component/modal/_modal.html.twig' %}
        {% include 'component/modal/_icons_templates.html.twig' %}
    </div>

{% endblock %}