{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .planning {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .placeholder {
            visibility: hidden;
            width: 15px;
        }
        .group-header {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }
        .date {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 15px;
        }
        .courts {
            h5 {
                text-align: center;
                white-space: nowrap;
            }
        }
        .court {
            display: inline-block;
            vertical-align: top;
            width: 150px;
        }
        .slots {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
        .slot-row {
            display: flex;
            gap: 5px;
            justify-content: space-between;
            align-items: center;
            .btn {
                visibility: hidden;
                svg {
                    width: 15px;
                }
            }
            &:hover {
                .btn {
                    visibility: visible;
                }
            }
        }
        .slot {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block content_title %}Plages horaires{% endblock %}

{% block page_actions %}

    <a class="btn btn-primary" href="{{ path('admin_planning_slot_bulk_add') }}">
        + Ajouter des créneaux hebdomadaires
    </a>

{% endblock %}


{% block main %}

    <div class="planning"
        data-controller="modal"
        data-modal-type-value="confirm"
    >
        {% for date in dates %}
            {% include '@admin/planning/slot/_date.html.twig' %}
        {% endfor %}

        {% include '@admin/modal/_confirm_modal.html.twig' %}
        {% include 'component/modal/_icons_templates.html.twig' %}

    </div>

{% endblock %}