/* DO NOT IMPMORT CSS FILES FROM HERE
unless we fix tailwind build for controlroom.css */

html {
    --bg-gray: #f8fafc;
    --border-color: #ddd;
}

.custom-actions {
    border: 1px solid var(--border-color);
    margin: 15px 0;
    padding: 20px;
    background-color: var(--bg-gray);
    button {
        padding-inline: 20px;
        margin-right: 10px;
    }
}