<table class="paragraph_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
	<tr>
		<td class="pad" style="padding-bottom:10px;padding-left:40px;padding-right:40px;padding-top:10px;">
			<div style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;font-size:18px;line-height:1.5;text-align:center;mso-line-height-alt:23px;">
				<p style="margin: 0; word-break: break-word;">
					<span style="word-break: break-word; color: #808389;">{{ date }}{# date entity with _toString #}</span>
                    <span style="margin-left: 15px; word-break: break-word; color: #808389;">{{ time }}</span>
				</p>
			</div>
		</td>
	</tr>
</table>
