{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout/error.html.twig' %}

{% block title %}
    <h1>{{ 'page_not_found.title'|trans(domain='security') }}</h1>
{% endblock %}


{% block content %}
{# This is not really a flash-message, just needs the look of it #}
    <div id="flash-messages">
        <div class="alert alert-info">
            {{ 'page_not_found.message'|trans({'%url%': path('homepage') }, 'security')|raw }}
        </div>
    </div>
{% endblock %}
