{% extends 'layout/account_area.html.twig' %}

{% block content %}

	<style>
		.homepage-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 30px;
		}
		.item {
			background-color: var(--color-primary-background);
            border: 1px solid var(--color-border);
			/* recommended way to center text inside a grid item, using grid as well */
			display: grid; /* could also be done with flexbox, justify-content, align-items, and text-align instead */
			place-items: center; /* for a grid containing plain text, this combines align and justify */
			text-align: center; /* aligns text horizontally in case of full line or multiple lines */
			height: 100px;
			padding: 10px;
			border-radius: 3px;
			font-size: 20px;
		}
	</style>

	<div class="homepage-grid">
		<a class="item" href="{{ path('my_matchs') }}">
			Mes matchs
		</a>
		<a class="item" href="{{ path('my_group') }}">
			Ma poule
		</a>
	</div>
{% endblock %}

